<mat-tab-group align="center" mat-align-tabs="center">
  <mat-tab label="Get All Users">
    <ng-template matTabContent>
      <app-getall></app-getall>
    </ng-template>
  </mat-tab>
  <mat-tab label="Get User">
    <ng-template matTabContent>
      <app-getuser></app-getuser>
    </ng-template>
  </mat-tab>
  <mat-tab label="Create User">
    <ng-template matTabContent>
      <app-create-user></app-create-user>
    </ng-template>
  </mat-tab>
  <mat-tab label="Update User">
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
  <mat-tab label="Delete User">
    <ng-template matTabContent>
      <app-delete-user></app-delete-user>
    </ng-template>
  </mat-tab>
</mat-tab-group>

